p{
  width: 80px;
  text-align: center;
  margin-top: 200px;
  margin-left: 200px;
}
.tooltip{
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  background-color: #000000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.tooltip>p{
  color: #ffffff;
  padding: 5px;
  margin: 0;
  font-size: 14px;  
}
.tooltip>div{
  width: 1px;
  height: 1px;
  /* transparent == 透明  */
  /* 需要哪个方向 就设置反方向 border 不为透明 其余都为透明 */
  border-bottom: 7px solid #000000;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: -14px;
  left: calc(50% - 14px);
}